$lightGrey: #a7a9ac;
$lightBlue: #00a7df;
$lightRed: #EF5362;
$lightBlack: #231f20;
$bodyFont: 'Architects Daughter', sans-serif;

@font-face {font-family: Engcomica;
    src:url("../fonts/Engcomica.otf");
}

html,
body {
  color: #404040;
  font-family: "Engcomica", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	@media (max-width: 960px) {
		display: block;
	}
}

img {
	max-width: 100%;
}

button {
	background: none;
	border: none;
	outline: none;
}
h1 {
  font-weight: 300;
}

.wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 8px auto;
	width: 98%;
	max-width: 1200px;
	@media (max-width: 960px) {
		flex-direction: column;
		width: 96%;
		padding: 10px;
	}
}

.container {
	margin: 0 auto;
	max-width: 1280px;
	text-align: center;
}

// +++++++++++++++++++++++++++++++
// Left Side
// +++++++++++++++++++++++++++++++

.input {
	// height: 90vh;
	padding: 0 20px;
	width: 30%;
	position: realtive;
	@media (max-width: 960px) {
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}
}

.introTextBox {
	margin-bottom: 40px; 
	text-align: center;
	img {
		padding-bottom: 30px;
		padding-top: 10px;
		width: 80%;
	}
	h4 {
		color: $lightBlack;
		font-family: "Engcomica", sans-serif;
		font-size: 2.8rem;
		letter-spacing: 2px;
		margin: 10px;
	}
	p {
		font-family: $bodyFont;
		font-size: 16px;
		letter-spacing: 1px;
		padding: 0 15px;
	}
}

// +++++++++++++++++++++++++++++++
// Paragraph/Sentence buttons
// +++++++++++++++++++++++++++++++

.numberSliderBox {
	margin: 0 auto;
	width: 80%;
}

.typeLabel {
	font-size: 34px;
	margin-bottom: 10px;
}

.howMany {
	position: relative;
	top: -14px;
}

input[type="radio"] {
	display: none;
}

.typeButtons {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center; 
	margin: 0;

}

.button {
	height: 40px;
	margin: 10px 0;
	position: relative;
	width: 140px;
	img {
		height: 100%;
		left: 50%;
		position: absolute;
		top: 50%;
		transform:translate(-50%, -50%);
		width: 100%;
	}
	span {
		color: white;
		font-family: "Engcomica", sans-serif;
		font-size: 1.6rem;
		left: 50%;
		letter-spacing: 1.7px;
		position: absolute;
		top: 50%;
		transform:translate(-50%, -50%);
	}
}

#dash {
	color: $lightBlack;
	padding: 0 10px;
	margin: 0;
}

// +++++++++++++++++++++++++++++++
// Right Side
// +++++++++++++++++++++++++++++++

.output {
	background: url(../images/bg-desktop.svg);
	background-position: right top;
	background-repeat: no-repeat;
	background-size: cover;
	height: calc(100vh - 36px);
	max-height: 640px;
	overflow: hidden;
	position: relative;
	width: 66%;
	// @media (max-width: 1024px) {
	// 	background-position: 60%;
	// }
	@media (max-width: 960px) {
		background: url(../images/bg.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 420px;
		width: 100%;
	}
}

.trumpImage img {
	bottom: -10px;
	left: -20%;
	position: absolute;
	width: 100%;
	@media (max-width: 960px) {
		bottom: 60px;
		left: 0;
	}
}

.ipsumOutput {
	font-family: $bodyFont;
	font-size: 1rem;
	height: 150px;
	overflow: scroll;
	position: absolute;
	right: 85px; 
	top: 110px;
	width: 240px;
	p {
		margin: 0;
		padding: 0;
	}
}

.bestWordsFiller {
	padding-top: 8px;
}

.bg img {
	min-height: 100%;
	min-width: 100%;
}

// +++++++++++++++++++++++++++++++
// Footer
// +++++++++++++++++++++++++++++++

footer {
	background: white;
	bottom: 0;
	left: 0;
	padding: 10px;
	position: fixed;
	right: 0;
	text-align: center;
	p {
		letter-spacing: 1px;
		margin: 0;
		opacity: .7;
		a {
			color: $lightBlue;	
			text-decoration: none;
			transition: .4s all ease;
			&:hover {
				color: $lightRed;
			}
		}
	}
}

// +++++++++++++++++++++++++++++++
// Mobile
// +++++++++++++++++++++++++++++++

.numberSelectMobile, 
.typeSelectMobile {
	display: none;
}


