@font-face {font-family: Engcomica;
    src:url("Engcomica.otf");
}

html,
body {
  color: #404040;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-weight: 300;
}

.output {
	width: 70

}