@font-face {
  font-family: Engcomica;
  src: url("../fonts/Engcomica.otf"); }

html,
body {
  color: #404040;
  font-family: "Engcomica", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

img {
  max-width: 100%; }

button {
  background: none;
  border: none;
  outline: none; }

h1 {
  font-weight: 300; }

.wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px auto;
  width: 98%;
  max-width: 1200px; }
  @media (max-width: 960px) {
    .wrapper {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.container {
  margin: 0 auto;
  max-width: 1280px;
  text-align: center; }

.input {
  padding: 0 20px;
  width: 30%; }
  @media (max-width: 960px) {
    .input {
      width: 100%; } }

.introTextBox {
  margin-bottom: 40px;
  text-align: center; }
  .introTextBox img {
    padding-bottom: 30px;
    padding-top: 10px;
    width: 80%; }
  .introTextBox h4 {
    color: #231f20;
    font-family: "Engcomica", sans-serif;
    font-size: 2.8rem;
    letter-spacing: 2px;
    margin: 10px; }
  .introTextBox p {
    font-family: "Architects Daughter", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 0 15px; }

.numberSliderBox {
  margin: 0 auto;
  width: 80%; }

.typeLabel {
  font-size: 34px;
  margin-bottom: 10px; }

.howMany {
  position: relative;
  top: -14px; }

input[type="radio"] {
  display: none; }

.typeButtons {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0; }

.button {
  height: 40px;
  margin: 10px 0;
  position: relative;
  width: 140px; }
  .button img {
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%; }
  .button span {
    color: white;
    font-family: "Engcomica", sans-serif;
    font-size: 1.6rem;
    left: 50%;
    letter-spacing: 1.7px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

#dash {
  color: #231f20;
  padding: 0 10px;
  margin: 0; }

.output {
  background: url(../images/bg-desktop.svg);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 36px);
  max-height: 640px;
  overflow: hidden;
  position: relative;
  width: 66%; }
  @media (max-width: 960px) {
    .output {
      width: 100%;
      top: 0; } }

.trumpImage img {
  bottom: -10px;
  left: -20%;
  position: absolute;
  width: 100%; }

.ipsumOutput {
  font-family: "Architects Daughter", sans-serif;
  font-size: 1rem;
  height: 150px;
  overflow: scroll;
  position: absolute;
  right: 85px;
  top: 110px;
  width: 240px; }
  .ipsumOutput p {
    margin: 0;
    padding: 0; }

.bg img {
  min-height: 100%;
  min-width: 100%; }

footer {
  background: white;
  bottom: 0;
  left: 0;
  padding: 10px;
  position: fixed;
  right: 0;
  text-align: center; }
  footer p {
    letter-spacing: 1px;
    margin: 0;
    opacity: .7; }
    footer p a {
      color: #00a7df;
      text-decoration: none;
      transition: .4s all ease; }
      footer p a:hover {
        color: #EF5362; }

.numberSelectMobile,
.typeSelectMobile {
  display: none; }
